TEST-WORKING-.json
{"flowContents":{"identifier":"f430abae-cf06-3158-a84f-9c66139271b6","instanceIdentifier":"c7d02ba4-c680-3a74-107a-2640aad131c1","name":"IFC-TEST-WORKING-","comments":"","position":{"x":536.0,"y":592.0},"processGroups":[{"identifier":"d44b543f-7507-3e07-b899-93156a1d84d5","instanceIdentifier":"a94c3714-1f54-1d93-5dbf-1930c23b4b16","name":"TEST","comments":"","position":{"x":-793.9999926878781,"y":136.17485134882997},"processGroups":[{"identifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff","instanceIdentifier":"eb92f12d-7fd6-35da-b51f-2e741abf8868","name":"CDC","comments":"","position":{"x":219.96679502372083,"y":147.82425137647013},"processGroups":[{"identifier":"a0033306-7f71-3337-bb17-577f69629851","instanceIdentifier":"03fc3b7b-0bc6-1fc5-bc59-84474ce61a06","name":"INITIAL","comments":"","position":{"x":48.0,"y":-104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ede6ec41-b401-3e98-85e6-338af1f3ce92","instanceIdentifier":"03fc3b82-0bc6-1fc5-a266-99fd42c48503","name":"LogMessage","comments":"","position":{"x":248.0,"y":360.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"},{"identifier":"f1aec782-e61c-3039-b2a3-e4ecd75d3567","instanceIdentifier":"03fc3b85-0bc6-1fc5-2eac-7b6954472ee2","name":"LogMessage","comments":"","position":{"x":1048.0,"y":488.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"},{"identifier":"9dad9856-6e20-37b7-ab5c-f9ba05de9ab8","instanceIdentifier":"03fc3b7d-0bc6-1fc5-2fcc-45c08f164afc","name":"INITIAL STAGE","comments":"","position":{"x":672.0,"y":184.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Table Name":"IFC_TEST_SOURCE_TBL","db-fetch-db-type":"Generic","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4bb757c1-1c19-3373-a419-e200db45d48e","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":null,"Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"},{"identifier":"7b6937f0-d18e-35b4-a413-5d4001ea1e23","instanceIdentifier":"03fc3b7f-0bc6-1fc5-3b00-16a2493ce16a","name":"DESTINATION","comments":"","position":{"x":664.0,"y":496.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"SCOTT","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"1069d1b6-341f-3c90-86b0-7ffa77d9f1ff","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":"id","put-db-record-quoted-identifiers":"false","put-db-record-table-name":"IFC_TEST_SOURCE_TBL","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"78ce6294-075f-3ad2-9efc-a810b502380b","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3d3fabe1-49ab-35d9-99ac-5461d3a049d8","instanceIdentifier":"03fc3b80-0bc6-1fc5-16c6-7d1eb8029446","name":"","source":{"id":"9dad9856-6e20-37b7-ab5c-f9ba05de9ab8","type":"PROCESSOR","groupId":"a0033306-7f71-3337-bb17-577f69629851","name":"INITIAL STAGE","comments":"","instanceIdentifier":"03fc3b7d-0bc6-1fc5-2fcc-45c08f164afc"},"destination":{"id":"7b6937f0-d18e-35b4-a413-5d4001ea1e23","type":"PROCESSOR","groupId":"a0033306-7f71-3337-bb17-577f69629851","name":"DESTINATION","comments":"","instanceIdentifier":"03fc3b7f-0bc6-1fc5-3b00-16a2493ce16a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"},{"identifier":"190085f7-0b84-3612-95da-ddf3548397c1","instanceIdentifier":"03fc3b86-0bc6-1fc5-a9be-8636b5ac58e6","name":"","source":{"id":"7b6937f0-d18e-35b4-a413-5d4001ea1e23","type":"PROCESSOR","groupId":"a0033306-7f71-3337-bb17-577f69629851","name":"DESTINATION","comments":"","instanceIdentifier":"03fc3b7f-0bc6-1fc5-3b00-16a2493ce16a"},"destination":{"id":"f1aec782-e61c-3039-b2a3-e4ecd75d3567","type":"PROCESSOR","groupId":"a0033306-7f71-3337-bb17-577f69629851","name":"LogMessage","comments":"","instanceIdentifier":"03fc3b85-0bc6-1fc5-2eac-7b6954472ee2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"},{"identifier":"2d0a49f6-9469-3940-aa49-e9c9def168c3","instanceIdentifier":"03fc3b83-0bc6-1fc5-3a02-a5733d6d0bdf","name":"","source":{"id":"7b6937f0-d18e-35b4-a413-5d4001ea1e23","type":"PROCESSOR","groupId":"a0033306-7f71-3337-bb17-577f69629851","name":"DESTINATION","comments":"","instanceIdentifier":"03fc3b7f-0bc6-1fc5-3b00-16a2493ce16a"},"destination":{"id":"ede6ec41-b401-3e98-85e6-338af1f3ce92","type":"PROCESSOR","groupId":"a0033306-7f71-3337-bb17-577f69629851","name":"LogMessage","comments":"","instanceIdentifier":"03fc3b82-0bc6-1fc5-a266-99fd42c48503"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a0033306-7f71-3337-bb17-577f69629851"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"b350c9e3-6363-3ac1-b389-defd0a124b58","instanceIdentifier":"871a30f4-58b7-1438-b3fd-9bf3b05240bb","name":"APPEND","comments":"","position":{"x":40.0,"y":352.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b634689-3b65-330b-b15e-6d6f2dd5c9e3","instanceIdentifier":"871a30fd-58b7-1438-ea56-5a598ddb5593","name":"LogMessage","comments":"","position":{"x":1136.0,"y":816.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"f5901b4c-325e-33b7-9048-6aa36946d2f4","instanceIdentifier":"871a30f6-58b7-1438-f775-0c38dcabd559","name":"NEW RECORDS","comments":"","position":{"x":684.0000001536649,"y":286.9999795430823},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Table Name":"IFC_TEST_SOURCE_TBL","db-fetch-db-type":"Generic","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4bb757c1-1c19-3373-a419-e200db45d48e","Maximum-value Columns":"LOANNO","dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":null,"Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"cfda7374-0a7e-321c-bf5a-980bc832e668","instanceIdentifier":"871a30fa-58b7-1438-6026-146795f72cfd","name":"LogMessage","comments":"","position":{"x":1120.0,"y":576.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"260ba649-36c6-3117-9140-f58a7a8e0af7","instanceIdentifier":"871a3100-58b7-1438-d5c0-ade3b6778039","name":"LogMessage","comments":"","position":{"x":1144.0,"y":1072.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"9243b52a-f646-3dbe-a21d-a7527d1ffbac","instanceIdentifier":"2d073085-3659-1091-cf2d-adc757d380b4","name":"NEW RECORDS","comments":"","position":{"x":256.0,"y":296.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Table Name":"IFC_TEST_SOURCE_TBL","db-fetch-db-type":"Generic","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4bb757c1-1c19-3373-a419-e200db45d48e","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":null,"Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"fb2ee073-0985-3455-b6b3-131ffe5e7811","instanceIdentifier":"871a3103-58b7-1438-1e9e-d7174a3bfe2c","name":"LogMessage","comments":"","position":{"x":1152.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"9599839a-97b0-365e-950e-e71f9b695a33","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4","name":"PutDatabaseRecord","comments":"","position":{"x":688.0,"y":808.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"SCOTT","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"1069d1b6-341f-3c90-86b0-7ffa77d9f1ff","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"UPSERT","db-type":"Oracle 12+","put-db-record-update-keys":"LOANNO","put-db-record-quoted-identifiers":"false","put-db-record-table-name":"IFC_TEST_SOURCE_TBL","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"78ce6294-075f-3ad2-9efc-a810b502380b","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"}],"inputPorts":[],"outputPorts":[{"identifier":"3c3b601b-0b4c-3ed4-b8ba-dd2d73155ccb","instanceIdentifier":"03fc3bc1-0bc6-1fc5-9edb-0c54d9d41ede","name":"APPEND-OUTPUT","position":{"x":1616.0,"y":672.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"}],"connections":[{"identifier":"5cd0e4c7-e945-3b09-abe0-f870be4a045a","instanceIdentifier":"871a3104-58b7-1438-2d52-0e08a4afc213","name":"","source":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"destination":{"id":"fb2ee073-0985-3455-b6b3-131ffe5e7811","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"LogMessage","comments":"","instanceIdentifier":"871a3103-58b7-1438-1e9e-d7174a3bfe2c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"a4841b95-7842-3d4a-9974-7d89b00763b8","instanceIdentifier":"871a30f9-58b7-1438-4593-3c2a08aa3258","name":"","source":{"id":"f5901b4c-325e-33b7-9048-6aa36946d2f4","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"NEW RECORDS","comments":"","instanceIdentifier":"871a30f6-58b7-1438-f775-0c38dcabd559"},"destination":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"f347c7c7-03b4-3821-b042-28ad9c62dfce","instanceIdentifier":"871a3101-58b7-1438-56d6-1494c0bac285","name":"","source":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"destination":{"id":"260ba649-36c6-3117-9140-f58a7a8e0af7","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"LogMessage","comments":"","instanceIdentifier":"871a3100-58b7-1438-d5c0-ade3b6778039"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"c7ed14c8-b314-3f5a-8c1e-fb3e95196735","instanceIdentifier":"2d073086-3659-1091-e6a5-ab55adc87871","name":"","source":{"id":"9243b52a-f646-3dbe-a21d-a7527d1ffbac","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"NEW RECORDS","comments":"","instanceIdentifier":"2d073085-3659-1091-cf2d-adc757d380b4"},"destination":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"a0ee0adc-6327-3a51-8635-9878614b2a64","instanceIdentifier":"871a30fe-58b7-1438-7cac-3afe95338941","name":"","source":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"destination":{"id":"3b634689-3b65-330b-b15e-6d6f2dd5c9e3","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"LogMessage","comments":"","instanceIdentifier":"871a30fd-58b7-1438-ea56-5a598ddb5593"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"d15254eb-a9bc-3cb3-baff-80360d2a3c84","instanceIdentifier":"871a30fb-58b7-1438-bf5f-7e5448e2a064","name":"","source":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"destination":{"id":"cfda7374-0a7e-321c-bf5a-980bc832e668","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"LogMessage","comments":"","instanceIdentifier":"871a30fa-58b7-1438-6026-146795f72cfd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"},{"identifier":"fab347c4-b739-3bec-a7ac-454d7603c4f6","instanceIdentifier":"03fc3bc2-0bc6-1fc5-1faa-a1af28441836","name":"","source":{"id":"9599839a-97b0-365e-950e-e71f9b695a33","type":"PROCESSOR","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"871a30f8-58b7-1438-4fc9-0ddce5c13ee4"},"destination":{"id":"3c3b601b-0b4c-3ed4-b8ba-dd2d73155ccb","type":"OUTPUT_PORT","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"APPEND-OUTPUT","instanceIdentifier":"03fc3bc1-0bc6-1fc5-9edb-0c54d9d41ede"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b350c9e3-6363-3ac1-b389-defd0a124b58"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8","instanceIdentifier":"871a3105-58b7-1438-82ab-aa1408777fea","name":"UPDATE","comments":"","position":{"x":40.0,"y":128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a72d330c-50f5-36e6-9e7b-938f6c6cfd5e","instanceIdentifier":"2d07305b-3659-1091-d99f-e65b9d91d3d3","name":"ExecuteStreamCommand","comments":"","position":{"x":1264.0,"y":160.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Working Directory":null,"Command Path":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"08f9535e-73c9-32be-801f-c5ddf6fa97aa","instanceIdentifier":"03fc3b79-0bc6-1fc5-92bc-337dbee7bf52","name":"LogAttribute","comments":"","position":{"x":-424.0,"y":472.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"18a79c9a-5619-3c36-9a07-70e454106945","instanceIdentifier":"03fc3b73-0bc6-1fc5-2e98-8bfc0b3cca7d","name":"LogAttribute","comments":"","position":{"x":1368.0,"y":480.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"02667c61-0a63-3ee7-89f8-2c3aeb0bf328","instanceIdentifier":"871a3107-58b7-1438-8cde-b28061b59e9e","name":"UPDATE RECORD","comments":"","position":{"x":688.0,"y":288.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Table Name":"IFC_TEST_SOURCE_TBL","db-fetch-db-type":"Generic","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4bb757c1-1c19-3373-a419-e200db45d48e","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":null,"Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"5c999eb6-6b41-3bf5-9f7a-f197bc7aa0d2","instanceIdentifier":"03fc3b76-0bc6-1fc5-e2ab-83ad27a083ea","name":"LogAttribute","comments":"","position":{"x":688.0,"y":816.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"e93857d0-a266-3b02-9431-3b039c481efc","instanceIdentifier":"03fc3b6e-0bc6-1fc5-4a3e-699b10083908","name":"PutDatabaseRecord","comments":"","position":{"x":667.9999671194713,"y":554.0000125772758},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"SCOTT","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"1069d1b6-341f-3c90-86b0-7ffa77d9f1ff","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"UPDATE","db-type":"Generic","put-db-record-update-keys":"LoanNo","put-db-record-quoted-identifiers":"false","put-db-record-table-name":"IFC_TEST_SOURCE_TBL","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"78ce6294-075f-3ad2-9efc-a810b502380b","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"67c1aac3-604c-34d8-84a8-a55e058ff956","instanceIdentifier":"03fc3b70-0bc6-1fc5-8703-79e8789a446b","name":"LogAttribute","comments":"","position":{"x":-408.0,"y":176.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"}],"inputPorts":[],"outputPorts":[{"identifier":"4762257a-8897-3208-ac24-bccefff88c24","instanceIdentifier":"03fc3bc4-0bc6-1fc5-77b6-4c136a0f1f92","name":"UPDATE-PORT","position":{"x":400.96375320285074,"y":224.30144721726},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"}],"connections":[{"identifier":"354a6909-ab99-30fe-a93c-fe6f4ffbd46c","instanceIdentifier":"03fc3b6f-0bc6-1fc5-a682-6c480e26709d","name":"","source":{"id":"02667c61-0a63-3ee7-89f8-2c3aeb0bf328","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"UPDATE RECORD","comments":"","instanceIdentifier":"871a3107-58b7-1438-8cde-b28061b59e9e"},"destination":{"id":"e93857d0-a266-3b02-9431-3b039c481efc","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"03fc3b6e-0bc6-1fc5-4a3e-699b10083908"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"3a81b3b0-4884-3174-b584-eba633c90a2f","instanceIdentifier":"03fc3b77-0bc6-1fc5-c973-a988636b7bb1","name":"","source":{"id":"e93857d0-a266-3b02-9431-3b039c481efc","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"03fc3b6e-0bc6-1fc5-4a3e-699b10083908"},"destination":{"id":"5c999eb6-6b41-3bf5-9f7a-f197bc7aa0d2","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"LogAttribute","comments":"","instanceIdentifier":"03fc3b76-0bc6-1fc5-e2ab-83ad27a083ea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"7abcab62-481a-3fa5-b1d0-81c2290cc039","instanceIdentifier":"2d073080-3659-1091-cec0-dd4608f4ebc0","name":"","source":{"id":"08f9535e-73c9-32be-801f-c5ddf6fa97aa","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"LogAttribute","comments":"","instanceIdentifier":"03fc3b79-0bc6-1fc5-92bc-337dbee7bf52"},"destination":{"id":"4762257a-8897-3208-ac24-bccefff88c24","type":"OUTPUT_PORT","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"UPDATE-PORT","instanceIdentifier":"03fc3bc4-0bc6-1fc5-77b6-4c136a0f1f92"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"43092447-fb15-3caa-95fb-d76fbdd5b2c7","instanceIdentifier":"03fc3b71-0bc6-1fc5-1ae3-b5133ccb04a2","name":"","source":{"id":"e93857d0-a266-3b02-9431-3b039c481efc","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"03fc3b6e-0bc6-1fc5-4a3e-699b10083908"},"destination":{"id":"67c1aac3-604c-34d8-84a8-a55e058ff956","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"LogAttribute","comments":"","instanceIdentifier":"03fc3b70-0bc6-1fc5-8703-79e8789a446b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"c5e40c9d-b888-3c27-bd1f-98c654b8fffb","instanceIdentifier":"03fc3b7a-0bc6-1fc5-699d-54d75db40086","name":"","source":{"id":"e93857d0-a266-3b02-9431-3b039c481efc","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"03fc3b6e-0bc6-1fc5-4a3e-699b10083908"},"destination":{"id":"08f9535e-73c9-32be-801f-c5ddf6fa97aa","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"LogAttribute","comments":"","instanceIdentifier":"03fc3b79-0bc6-1fc5-92bc-337dbee7bf52"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"},{"identifier":"6a252937-1f1f-3f3c-87c3-e991c6086ac9","instanceIdentifier":"03fc3b74-0bc6-1fc5-b83c-025046f2811a","name":"","source":{"id":"e93857d0-a266-3b02-9431-3b039c481efc","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"03fc3b6e-0bc6-1fc5-4a3e-699b10083908"},"destination":{"id":"18a79c9a-5619-3c36-9a07-70e454106945","type":"PROCESSOR","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"LogAttribute","comments":"","instanceIdentifier":"03fc3b73-0bc6-1fc5-2e98-8bfc0b3cca7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"097e99a7-2b38-39ba-96d1-f27ab01476a8"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","instanceIdentifier":"a07e402b-4d9d-3435-9a83-589962211385","name":"NOTIFY","comments":"","position":{"x":-704.0,"y":120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2f40e5a8-f52a-352e-bfc8-3d6700bbb5b2","instanceIdentifier":"2d073053-3659-1091-a3aa-a199fbba3847","name":"NOTIFY","comments":"","position":{"x":536.0,"y":544.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"DATA UPDATE SUCCESS! Subject: Automated Email from ETL Server -139\n\nDear Team,\n\nThis is an automated email from ETL Server -139.\n\nDepartment Name: Data Science\n\nThe TESTATT has been completely updated.\n\nThank you.\n","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"myman@sandbox7ce1f31a31704c83a43167462cd92a6b.mailgun.org","Include All Attributes In Message":"false","SMTP Hostname":"smtp.mailgun.org","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"postmaster@sandbox7ce1f31a31704c83a43167462cd92a6b.mailgun.org","To":"mamun01859135478@gmail.com,shakhwat.hossain@burobd.org","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315"},{"identifier":"50913659-2d07-3053-8d6b-1a926b0b65ec","instanceIdentifier":"50913659-2d07-3053-d2db-b2b93269f917","name":"NOTIFY","comments":"","position":{"x":608.0,"y":216.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"NEW DATA ADDED SUCCESS! Subject: Automated Email from ETL Server -139\n\nDear Team,\n\nThis is an automated email from ETL Server -139.\n\nDepartment Name: Data Science Team\n\nAll data has been updated.\n\nThank you.\n","Attach File":"true","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"myman@sandbox7ce1f31a31704c83a43167462cd92a6b.mailgun.org","Include All Attributes In Message":"false","SMTP Hostname":"smtp.mailgun.org","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"postmaster@sandbox7ce1f31a31704c83a43167462cd92a6b.mailgun.org","To":"mamun01859135478@gmail.com,shakhwat.hossain@burobd.org","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315"}],"inputPorts":[{"identifier":"47c3d7b3-6d3b-3b28-90e1-1f117d3fdc4a","instanceIdentifier":"47c3d7b3-6d3b-3b28-13c2-3e46a769afa0","name":"inport1","comments":"","position":{"x":345.00000121530877,"y":98.00000698457174},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315"},{"identifier":"cf1b4147-480a-3f9e-b76a-0f3335e6e1a6","instanceIdentifier":"2d073054-3659-1091-bb9e-d77082ce0819","name":"UPDATE-INOUT-PORT","position":{"x":203.999989211949,"y":460.0000163461956},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315"}],"outputPorts":[],"connections":[{"identifier":"b094e3fd-8fb7-3fe9-a857-76936961eea1","instanceIdentifier":"b094e3fd-8fb7-3fe9-6aa1-d26f9feef44b","name":"","source":{"id":"47c3d7b3-6d3b-3b28-90e1-1f117d3fdc4a","type":"INPUT_PORT","groupId":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","name":"inport1","comments":"","instanceIdentifier":"47c3d7b3-6d3b-3b28-13c2-3e46a769afa0"},"destination":{"id":"50913659-2d07-3053-8d6b-1a926b0b65ec","type":"PROCESSOR","groupId":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","name":"NOTIFY","comments":"","instanceIdentifier":"50913659-2d07-3053-d2db-b2b93269f917"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":519.0000610351562,"y":141.01560974121094}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315"},{"identifier":"e0c349cf-5d23-32fa-8a7c-29e23b81cb92","instanceIdentifier":"2d073055-3659-1091-9c0f-51d772faf5ec","name":"","source":{"id":"cf1b4147-480a-3f9e-b76a-0f3335e6e1a6","type":"INPUT_PORT","groupId":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","name":"UPDATE-INOUT-PORT","instanceIdentifier":"2d073054-3659-1091-bb9e-d77082ce0819"},"destination":{"id":"2f40e5a8-f52a-352e-bfc8-3d6700bbb5b2","type":"PROCESSOR","groupId":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","name":"NOTIFY","comments":"","instanceIdentifier":"2d073053-3659-1091-a3aa-a199fbba3847"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bbfcb35-5817-333c-8bf2-e26b9afb5315"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"29dc7b6f-6500-3c31-8453-7ed692ea5ca6","instanceIdentifier":"2d073056-3659-1091-c4cb-f660e0733560","name":"","source":{"id":"4762257a-8897-3208-ac24-bccefff88c24","type":"OUTPUT_PORT","groupId":"097e99a7-2b38-39ba-96d1-f27ab01476a8","name":"UPDATE-PORT","instanceIdentifier":"03fc3bc4-0bc6-1fc5-77b6-4c136a0f1f92"},"destination":{"id":"cf1b4147-480a-3f9e-b76a-0f3335e6e1a6","type":"INPUT_PORT","groupId":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","name":"UPDATE-INOUT-PORT","instanceIdentifier":"2d073054-3659-1091-bb9e-d77082ce0819"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"359fbece-7abe-3b95-bfec-c0bef9705a73","instanceIdentifier":"03fc3bc3-0bc6-1fc5-aeb7-b65af3169ffc","name":"","source":{"id":"3c3b601b-0b4c-3ed4-b8ba-dd2d73155ccb","type":"OUTPUT_PORT","groupId":"b350c9e3-6363-3ac1-b389-defd0a124b58","name":"APPEND-OUTPUT","instanceIdentifier":"03fc3bc1-0bc6-1fc5-9edb-0c54d9d41ede"},"destination":{"id":"47c3d7b3-6d3b-3b28-90e1-1f117d3fdc4a","type":"INPUT_PORT","groupId":"8bbfcb35-5817-333c-8bf2-e26b9afb5315","name":"inport1","comments":"","instanceIdentifier":"47c3d7b3-6d3b-3b28-13c2-3e46a769afa0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"}],"labels":[{"identifier":"d93a3a82-01e2-3158-822f-93ef07eae5ff","instanceIdentifier":"03fc3b8b-0bc6-1fc5-e551-ca945a30b19e","position":{"x":622.2205178333404,"y":182.66269230922006},"label":"-- Create the IFC_TEST_SOURCE_TBL table with uppercase column names\nCREATE TABLE [dbo].[IFC_TEST_SOURCE_TBL](\n    [LOANNO] INT PRIMARY KEY,\n    [BRANCHCODE] VARCHAR(10) NOT NULL,\n    [SAMITYCODE] NVARCHAR(50) NOT NULL,\n    [FIRSTNAME] VARCHAR(35) NULL,\n    -- Add other columns as needed\n    [INACTIVEDATE] SMALLDATETIME NULL\n) ON [PRIMARY];\n\n-- Insert 100 sample records into the IFC_TEST_SOURCE_TBL table with uppercase column names (using placeholder values)\nINSERT INTO [dbo].[IFC_TEST_SOURCE_TBL] ([LOANNO], [BRANCHCODE], [SAMITYCODE], [FIRSTNAME], [INACTIVEDATE])\nSELECT TOP 100\n    ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS LOANNO,\n    'Branch' + CAST(ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(5)) AS BRANCHCODE,\n    'Samity' + CAST(ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS NVARCHAR(5)) AS SAMITYCODE,\n    'FirstName' + CAST(ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(5)) AS FIRSTNAME,\n    DATEADD(DAY, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)), '2022-01-01') AS INACTIVEDATE\nFROM master.dbo.spt_values;\n\n\n","zIndex":0,"width":584.0,"height":400.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"adaab192-0b82-380a-a255-28879abdb0ba","instanceIdentifier":"03fc3b81-0bc6-1fc5-e07f-a90e70258c0a","position":{"x":136.0,"y":-144.0},"label":"INITIAL","zIndex":0,"width":168.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"04e185e2-852e-3b8b-9b81-a2a7ccddb4b5","instanceIdentifier":"21156b88-6665-3d04-c25b-94396b8b77b0","position":{"x":144.0,"y":320.0},"label":"TOP LAYER","zIndex":0,"width":112.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"13cb3b33-511f-3fa5-8d5f-30249842935d","instanceIdentifier":"03fc3b8f-0bc6-1fc5-e951-f1e6e5f3450d","position":{"x":1328.0,"y":576.0},"label":"UPDATE\n\nUPDATE [dbo].[IFC_TEST_SOURCE_TBL]\nSET\n\n    [SamityCode] = 'UpdatedSamity',\n    [FirstName] = 'UpdatedName'\nWHERE [LoanNo] = '4'\n","zIndex":0,"width":448.0,"height":216.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"59dd6aee-c7be-30df-abe0-31a5fafb1caf","instanceIdentifier":"03fc3b8c-0bc6-1fc5-2831-e8c1b7adde30","position":{"x":1232.0,"y":176.0},"label":"IN ORACLE DATAWAREHOUSE DB SERVER IP 192.168.1.1x\n\n-- Create the Account table without a primary key\nCREATE TABLE Account (\n    AccountID NUMBER,\n    Username VARCHAR2(50) NOT NULL,\n    Balance NUMBER(10,2) NOT NULL\n);\n\n\n\n","zIndex":0,"width":440.0,"height":280.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"ca76e1b5-9893-36ed-adf9-9547c883ac81","instanceIdentifier":"3e04547e-ae92-3ee6-231b-ec88c4bd5674","position":{"x":120.0,"y":96.0},"label":"BOTTOM LAYER","zIndex":0,"width":168.0,"height":24.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"a27ff97a-7151-31c1-bd02-a60183610532","instanceIdentifier":"03fc3b8d-0bc6-1fc5-1748-f3a6569982a0","position":{"x":560.0,"y":688.0},"label":"-- Insert 5 sample records into the IFC_TEST_SOURCE_TBL table\nINSERT INTO [dbo].[IFC_TEST_SOURCE_TBL] ([LoanNo], [BranchCode], [SamityCode], [FirstName], [InActiveDate])\nVALUES\n    (1, 'Branch1', N'Samity1', 'John', '2022-01-01'),\n    (2, 'Branch2', N'Samity2', 'Jane', '2022-02-01'),\n    (3, 'Branch3', N'Samity3', 'Alice', '2022-03-01'),\n    (4, 'Branch4', N'Samity4', 'Bob', '2022-04-01'),\n    (5, 'Branch5', N'Samity5', 'Eve', '2022-05-01');\n","zIndex":0,"width":448.0,"height":136.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"01703422-e0a1-3ae6-a2ff-c700ca445195","instanceIdentifier":"03fc3bbf-0bc6-1fc5-9458-395fcc44f92b","position":{"x":-696.0,"y":0.0},"label":"NOTIFICATION -USING DUMMY MAIL SERVICE","zIndex":0,"width":344.0,"height":56.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"}],"funnels":[],"controllerServices":[{"identifier":"955214d7-c895-3f03-a72e-47a026b7bf19","instanceIdentifier":"8cbd2a20-586b-31f6-0e7e-03887c51082d","name":"AvroRecordSetWriter","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"},{"identifier":"1069d1b6-341f-3c90-86b0-7ffa77d9f1ff","instanceIdentifier":"7d397f05-018d-1000-2ae9-82e09b075666","name":"DESTEST","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{destclass}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"#{desturl}","dbcp-time-between-eviction-runs":"-1","Database User":"#{DEST_USER}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{destloc}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf3ed113-fce5-391d-a74b-b9184b8013ff"}],"variables":{},"parameterContextName":"GC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"d44b543f-7507-3e07-b899-93156a1d84d5"},{"identifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","instanceIdentifier":"5dc8c1a7-082a-36e6-b9df-669f53bc3e0a","name":"NiFi API with HandleHttpRequest Demo","comments":"","position":{"x":944.0,"y":112.0},"processGroups":[{"identifier":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa","instanceIdentifier":"59e85798-97d7-3b14-ce46-cffb02fd23c6","name":"Process Api Request","comments":"","position":{"x":864.0,"y":216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[{"identifier":"5bf134ad-5fae-3d6f-ba80-e2a1eeb0823d","instanceIdentifier":"a532a563-f58b-3c4a-1f31-c5085e3826b3","name":"input","comments":"","position":{"x":538.9999986288185,"y":117.00000000000009},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa"}],"outputPorts":[{"identifier":"1cccd2ec-2fff-39be-b332-588e37edbcec","instanceIdentifier":"e59ca0f1-02f8-33c4-1b65-eef55a1ccf44","name":"output","position":{"x":536.0,"y":376.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa"}],"connections":[{"identifier":"5364cc11-5c8f-3e0e-b0ff-977fece3ff98","instanceIdentifier":"44c450eb-f326-37d2-598a-17fba800d209","name":"","source":{"id":"5bf134ad-5fae-3d6f-ba80-e2a1eeb0823d","type":"INPUT_PORT","groupId":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa","name":"input","comments":"","instanceIdentifier":"a532a563-f58b-3c4a-1f31-c5085e3826b3"},"destination":{"id":"1cccd2ec-2fff-39be-b332-588e37edbcec","type":"OUTPUT_PORT","groupId":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa","name":"output","instanceIdentifier":"e59ca0f1-02f8-33c4-1b65-eef55a1ccf44"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"}],"remoteProcessGroups":[],"processors":[{"identifier":"d2f3a5be-7cc2-37fb-9fe9-8523e3093884","instanceIdentifier":"b905d317-d7d9-3535-0740-54b7042bf6be","name":"HandleHttpResponse","comments":"","position":{"x":344.0,"y":344.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"HTTP Context Map":"6b92f900-5bd4-3e20-9809-0eaed8d14316","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"},{"identifier":"d9e7d124-13b7-309d-a22d-96d1cb01e206","instanceIdentifier":"b54c9f24-c49d-37e8-453f-54fca69322f2","name":"HandleHttpRequest","comments":"","position":{"x":440.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":"localhost","Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"6b92f900-5bd4-3e20-9809-0eaed8d14316","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"788","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"}],"inputPorts":[],"outputPorts":[{"identifier":"aa3041a9-f6cc-3299-86be-3e4c1e6c8af1","instanceIdentifier":"b64781ac-44ce-3d89-82dc-adcd1983f04a","name":"output","position":{"x":528.0,"y":912.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"}],"connections":[{"identifier":"21aa3929-a6d4-3743-a3f9-baa60e633104","instanceIdentifier":"e20b8721-2c0d-3722-ac05-0d6709b34988","name":"","source":{"id":"1cccd2ec-2fff-39be-b332-588e37edbcec","type":"OUTPUT_PORT","groupId":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa","name":"output","instanceIdentifier":"e59ca0f1-02f8-33c4-1b65-eef55a1ccf44"},"destination":{"id":"d2f3a5be-7cc2-37fb-9fe9-8523e3093884","type":"PROCESSOR","groupId":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","name":"HandleHttpResponse","comments":"","instanceIdentifier":"b905d317-d7d9-3535-0740-54b7042bf6be"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"},{"identifier":"725457f6-0a4b-3192-bc11-f13315488f7e","instanceIdentifier":"44911add-e9b9-3691-f011-41834ceac5c5","name":"","source":{"id":"d9e7d124-13b7-309d-a22d-96d1cb01e206","type":"PROCESSOR","groupId":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","name":"HandleHttpRequest","comments":"","instanceIdentifier":"b54c9f24-c49d-37e8-453f-54fca69322f2"},"destination":{"id":"5bf134ad-5fae-3d6f-ba80-e2a1eeb0823d","type":"INPUT_PORT","groupId":"fa9c5cc2-9851-3ac9-917c-28833c63c8aa","name":"input","comments":"","instanceIdentifier":"a532a563-f58b-3c4a-1f31-c5085e3826b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"},{"identifier":"b5782fcb-730d-3729-be10-8da31a3245fd","instanceIdentifier":"4ac0aefe-869e-3ccd-a246-1ee4c5727975","name":"","source":{"id":"d2f3a5be-7cc2-37fb-9fe9-8523e3093884","type":"PROCESSOR","groupId":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","name":"HandleHttpResponse","comments":"","instanceIdentifier":"b905d317-d7d9-3535-0740-54b7042bf6be"},"destination":{"id":"aa3041a9-f6cc-3299-86be-3e4c1e6c8af1","type":"OUTPUT_PORT","groupId":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","name":"output","instanceIdentifier":"b64781ac-44ce-3d89-82dc-adcd1983f04a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":976.0,"y":656.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"},{"identifier":"7de2ef1c-b88c-38a6-9a19-ab885ce5f500","instanceIdentifier":"2aca75ca-bab9-3b38-008c-9e946bd86958","name":"","source":{"id":"d2f3a5be-7cc2-37fb-9fe9-8523e3093884","type":"PROCESSOR","groupId":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","name":"HandleHttpResponse","comments":"","instanceIdentifier":"b905d317-d7d9-3535-0740-54b7042bf6be"},"destination":{"id":"aa3041a9-f6cc-3299-86be-3e4c1e6c8af1","type":"OUTPUT_PORT","groupId":"61bc18ad-1f4f-3054-acd2-867f9172d2f2","name":"output","instanceIdentifier":"b64781ac-44ce-3d89-82dc-adcd1983f04a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":496.0,"y":576.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6b92f900-5bd4-3e20-9809-0eaed8d14316","instanceIdentifier":"71bf76ce-893c-3e2a-2497-bb0d8b16e6df","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.23.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61bc18ad-1f4f-3054-acd2-867f9172d2f2"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"d44b543f-7507-3e07-b899-93156a1d84d5"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"4bb757c1-1c19-3373-a419-e200db45d48e","instanceIdentifier":"7802e724-0807-3366-2f70-4a3d84ce10ea","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{class}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"#{TEST}","dbcp-time-between-eviction-runs":"-1","Database User":"#{GC_USER}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{driver-loc}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d44b543f-7507-3e07-b899-93156a1d84d5"},{"identifier":"78ce6294-075f-3ad2-9efc-a810b502380b","instanceIdentifier":"3a58e72f-a302-3b5e-f3d0-d798650ad5aa","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d44b543f-7507-3e07-b899-93156a1d84d5"}],"variables":{},"parameterContextName":"GC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"f430abae-cf06-3158-a84f-9c66139271b6"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"GC":{"name":"GC","parameters":[{"name":"driver-loc","description":"","sensitive":false,"provided":false,"value":"D:\\SOFT-BKUP\\ETL\\1.23.0\\lib\\sqljdbc41.jar"},{"name":"destclass","description":"","sensitive":false,"provided":false,"value":"oracle.jdbc.driver.OracleDriver"},{"name":"destloc","description":"","sensitive":false,"provided":false,"value":"D:\\SOFT-BKUP\\ETL\\1.23.0\\lib\\ojdbc6.jar"},{"name":"URL1BURONORTH","description":"","sensitive":false,"provided":false,"value":"jdbc:sqlserver://172.16.2.21:1433;databaseName=ExportDataMFIBURONorth;authentication=NotSpecified;encrypt=false;truestServerCertificate=false"},{"name":"class","description":"","sensitive":false,"provided":false,"value":"com.microsoft.sqlserver.jdbc.SQLServerDriver"},{"name":"URL1BUROSOUTH","description":"","sensitive":false,"provided":false,"value":"jdbc:sqlserver://172.16.2.21:1433;databaseName=ExportDataMFIBUROSouth;authentication=NotSpecified;encrypt=false;truestServerCertificate=false"},{"name":"URL1BURO","description":"","sensitive":false,"provided":false,"value":"jdbc:sqlserver://172.16.2.21:1433;databaseName=ExportDataMFIBURO;authentication=NotSpecified;encrypt=false;truestServerCertificate=false"},{"name":"TEST","description":"","sensitive":false,"provided":false,"value":"jdbc:sqlserver://172.16.2.21:1433;databaseName=TEST;authentication=NotSpecified;encrypt=false;truestServerCertificate=false"},{"name":"DB_SUPPORT","description":"","sensitive":false,"provided":false,"value":"jdbc:sqlserver://172.16.2.21:1433;databaseName=dbSupportTeam;authentication=NotSpecified;encrypt=false;truestServerCertificate=false"},{"name":"DEST_USER","description":"","sensitive":false,"provided":false,"value":"scott"},{"name":"GC_USER","description":"","sensitive":false,"provided":false,"value":"DW_GC"},{"name":"ATTURL","description":"","sensitive":false,"provided":false,"value":"jdbc:sqlserver://192.168.1.10:1433;databaseName=Attandence;authentication=NotSpecified;encrypt=false;truestServerCertificate=false"},{"name":"desturl","description":"","sensitive":false,"provided":false,"value":"jdbc:oracle:thin:@192.168.1.139:1521:ORCL"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
